body{
	margin:0;
	font-family: "Open Sans", sans-serif;
}


.header{
	width:100%;
	height:50px;
	font-weight:700;
	line-height: 50px;
	background-color: white;
	position:fixed;
	z-index:10;
	box-shadow: -1px 1px 1px rgba(0,0,0,0.1)
}

.container{
	width: 1170px;
	margin:0 auto;
	padding-right:15px;
	padding-left:15px;
}

.header-left{
	height:50px;
	float:left;
}

.header-title{
	font-family:'Dosis', sans-serif;
	font-size:22px;
	height:50px;
	margin-top:0px;
	color:#777;
}

.header-right{
	float:right;
}

.header-right ul{
	padding:0;
	margin:0;
}

.header-right li{
	float:left;
	list-style: none;
	font-size:14px;
	padding:0px 10px;
	margin:0;
}

.header-right li:hover{
	cursor:pointer;
	color:#40bfb0;
	transition:all 0.3s;
}

.top-wrapper{
	margin:0 auto;
	background-image: url(images/backgrounds/top.jpg);
	background-size:cover;
	text-align: center;
}

.top-inner{
	margin:0 auto;
	padding:173px 0 150px 0;
	background-color: rgba(0, 0, 0, 0.6);
}


.top-wrapper h1{
	font-size:48px;
	font-weight: 200;
	margin-bottom:27px;
	color:#fff;
}

.top-wrapper p{
	margin-bottom:53px;
	font-size:18px;
	text-align: center;
	color:#fff;
}

.detail{
	text-decoration: none;
	color:#fff;
	border:1px solid rgba(250, 250, 250, 0.15);
	padding:10px 20px;
	font-weight:600;
	background-color: rgba(250, 250, 250, 0.06);
	font-size: 18px;
}

.detail:hover{
	border:1px solid white;
	transition:all 0.3s;
	cursor:pointer;
}

.languages{
	margin:0 auto;
	text-align: center;
}

.heading h3{
	clear:left;
	font-size: 32px;
	font-weight:300;
	color:#444;
	padding-top:66px;
	padding-bottom:17px;
	margin:0;
}

.language{
	margin:0 auto;
	width:80%;
}

.language-icon{
	display: inline-block;
	padding:20px;
	width:38%;
	vertical-align: top;
}

h4{
	font-weight:400;
	color:#444;
	margin-top:9px;
	margin-bottom:10px;
	font-size:18px;
}

p{
	font-size:14px;
	color:#888;
}

.features{
	margin-top:60px;
	text-align: center;
}

.gray-background_1{
	background-color:#f4f4f4;
	height:376px;
}

.feature{
	padding-top:121px;
}

.feature-icon{
	float:left;
	display: inline-block;
	width:40%;
	vertical-align: top;
	padding-left:65px;
	margin-bottom:60.5px;
}

.feature-icon h4{
	text-align: left;
}

.feature-icon p{
	text-align: left;
	margin:0;
}

.price{
	clear: left;
	text-align: center;
}


.gray-background_2{
	clear:left;
	background-color:#f4f4f4;
	margin-bottom:110px;
	height:863px;
}

.course-icon{
	background-color: white;
	width:28%;
	margin:20px 13px;
	padding:35px 15px;
	text-align: center;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	height:547px;
	display: inline-block;
}

.course-icon h2{
	font-size: 32px;
	font-weight:400;
	color:white;
	background-color: #323A45;
	margin:0;
	padding-top:30px;
	padding-bottom:30px;
	font-family: "Dosis", sans-serif;
}

.course-icon h3{
	font-size: 30px;
	font-weight:400;
	color:#555;
	margin:0;
	background-color:#f0f0f0;
	padding-top:40px;
	padding-bottom:40px;
	font-family: "Dosis", sans-serif;
}

.course-icon ul{
	padding:30px;
	margin:0;
	margin-bottom:18px;
}

.course-icon li{
	list-style: none;
	padding:18px;
	color:#888;
	font-size:14px;
	border-bottom:1px solid #eee;
}

.subscription{
	text-decoration: none;
	background-color: #2d323a;
	color:#c9d1d6;
	border:1px solid #24282e;
	font-size:18px;
	font-weight: 700;
	padding:9px 20px;
	margin:20px;
}