body{
	margin:0;
	font-family: "Open Sans", sans-serif;
}

/*-----ヘッダー部分-----*/

.header{
	width:100%;
	height:50px;
	font-weight:700;
	line-height: 50px;
	background-color: white;
	position:fixed;
	z-index:10;
	box-shadow: -1px 1px 1px rgba(0,0,0,0.1)
}

.header a{
	text-decoration: none;
}

.header a:hover{
	color:#40bfb0;
	transition:all 0.3s;
}

.container{
	width: 1170px;
	margin:0 auto;
	padding-right:15px;
	padding-left:15px;
}

.header-left{
	height:50px;
	float:left;
}

.header-title{
	font-family:'Dosis', sans-serif;
	font-size:22px;
	height:50px;
	margin-top:0px;
	color:#777;
}

.header-right{
	float:right;
}

.header-right ul{
	padding:0;
	margin:0;
}

.header-right li{
	float:left;
	list-style: none;
	font-size:14px;
	padding:0px 10px;
	margin:0;
	cursor:pointer;
}

.header-right a{
	color:#323A45;
}

.header-right a:hover{
	color:#40bfb0;
	transition:all 0.3s;
}

/*-----トップ部分-----*/

.top-wrapper{
	margin:0 auto;
	background-image: url(images/backgrounds/top.jpg);
	background-size:cover;
	text-align: center;
}

.top-inner{
	margin:0 auto;
	padding:173px 0 150px 0;
	background-color: rgba(0, 0, 0, 0.6);
}


.top-wrapper h1{
	font-size:48px;
	font-weight: 200;
	margin-bottom:27px;
	color:#fff;
}

.top-wrapper p{
	margin-bottom:53px;
	font-size:18px;
	text-align: center;
	color:rgba(255, 255, 255, 0.8);
}

.detail{
	text-decoration: none;
	color:rgba(250, 250, 250, 0.9);
	border:1px solid rgba(250, 250, 250, 0.15);
	padding:9px 20px;
	font-weight:600;
	background-color: rgba(250, 250, 250, 0.06);
	font-size: 18px;
}

.detail:hover{
	border:1px solid white;
	transition:all 0.3s;
	cursor:pointer;
}

#detail-message{
	margin:0;
	margin-top:30px;
	color: white;
	font-size: 14px;
	display:none;
}

/*-----学習する言語-----*/

.languages{
	margin:0 auto;
	text-align: center;
}

.heading h3{
	clear:left;
	font-size: 32px;
	font-weight:300;
	color:#555;
	padding-top:66px;
	padding-bottom:17px;
	margin:0;
}

.language{
	margin:0 auto;
	width:80%;
}

.language-icon{
	display: inline-block;
	padding:20px;
	width:38%;
	vertical-align: top;
}

h4{
	font-weight:400;
	color:#444;
	margin-top:9px;
	margin-bottom:10px;
	font-size:18px;
}

p{
	font-size:14px;
	color:#888;
}

/*-----特徴-----*/

.features{
	margin-top:60px;
	text-align: center;
}

.gray-background_1{
	background-color:#f4f4f4;
	height:376px;
}

.feature{
	padding-top:121px;
}

.feature-icon{
	float:left;
	display: inline-block;
	width:40%;
	vertical-align: top;
	padding-left:65px;
	margin-bottom:60.5px;
}

.feature-icon h4{
	text-align: left;
}

.feature-icon p{
	text-align: left;
	margin:0;
}

/*-----コースを選ぶ-----*/

.price{
	clear: left;
	text-align: center;
}


.gray-background_2{
	clear:left;
	background-color:#f4f4f4;
	height:863px;
}

.course-icon{
	background-color: white;
	width:28%;
	margin:20px 13px;
	padding:35px 15px;
	text-align: center;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	height:547px;
	display: inline-block;
}

.course-icon h2{
	font-size: 32px;
	font-weight:400;
	color:white;
	background-color: #323A45;
	margin:0;
	padding-top:30px;
	padding-bottom:30px;
	font-family: "Dosis", sans-serif;
}

.course-icon h3{
	font-size: 30px;
	font-weight:400;
	color:#555;
	margin:0;
	background-color:#f0f0f0;
	padding-top:40px;
	padding-bottom:40px;
	font-family: "Dosis", sans-serif;
}

.course-icon ul{
	padding:30px;
	margin:0;
	margin-bottom:18px;
}

.course-icon li{
	list-style: none;
	padding:18px;
	color:#888;
	font-size:14px;
	border-bottom:1px solid #eee;
}

.subscription{
	text-decoration: none;
	background-color: #2d323a;
	color:#c9d1d6;
	border:1px solid #24282e;
	font-size:18px;
	font-weight: 700;
	padding:9px 20px;
	margin:20px;
	cursor:pointer;
	transition:all 0.3s;
}

.subscription:hover{
	background-color: #384147;
	border: 1px solid #32383f;
	color: #e8edef;
}

.course-icon-green h2{
	background-color: #0DC0C0;
}

/*-----メンター紹介-----*/

.mentors{
	text-align: center;
	height:611px;
}


.mentor-box{
	padding:10px 117px;
	margin-bottom:29px;
}

.mentor-photo img{
	width: 200px;
	border-radius: 200px;
	-webkit-border-radius: 300px;
	-moz-border-radius: 300px;
	margin-bottom:10px;
}

.mentor-box .mentor-photo > img {
 display: inline;
}

.mentor-profile{
	color:#444;
	font-size: 18px;
	margin:9px 0;
}

/*-----メッセージ-----*/

.middle-message{
	margin:0 auto;
	background-image: url(images/backgrounds/night_view.jpg);
	background-size:cover;
	text-align: center;
}

.middle-message h4{
	color:white;
	font-size: 22px;
	line-height:40px;
}

.message-inner{
	margin:0 auto;
	padding:141px 0 140px 0;
	background-color: rgba(0, 0, 0, 0.6);
}

/*-----コラム-----*/

.column{
	text-align: center;
}

.gray-background_3{
	clear:left;
	background-color:#f4f4f4;
	height:1487px;
}


.column-btn{
	display: inline-block;
	background-color: white;
	font-weight: 600;
	color:#323A45;
	padding:8px 16px;
	font-size:16px;
	margin-top:10px;
	margin-right:4.5px;
	font-family: "Dosis", sans-serif;
	cursor:pointer;
}

.column-btn:hover{
	background-color: #009ca8;
	color:white;
	transition:all 0.3s;	
}

.active{
	background-color: #009ca8;
	color:white;
	cursor: default;
}

.column-section{
	margin-top:25px;
	margin-bottom:46px;
}

.column-box{
	display: inline-block;
	background-color:white;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
	padding:7px;
	padding-bottom:27px;
	width:40%;
	margin:15px 14px;
	text-align: center;
}

.column-photo{
	height:260px;
	overflow: hidden;
	margin-bottom:16px;
	position:relative;
}

.column-photo img{
	width:100%;
    transition: transform 0.2s linear;
}

.zoom-black{
	height:260px;
	width:468px;
	background-color: rgba(0,0,0,0.6);
	position:absolute;
	top:0;
	right:0;
	z-index:10;
	display: none;
}

.column-title{
	font-size:17px;
	color:#444;
	font-weight:600;
	text-decoration: none;
}

.column-title:hover{
	cursor:pointer;
	color:#40bfb0;
	transition:all 0.3s;
}

.column-genre{
	margin:0;
}

.load-more-btn{
	text-decoration: none;
	background-color: #2d323a;
	color:#c9d1d6;
	border:1px solid #24282e;
	font-size:18px;
	font-weight: 600;
	padding:10px 20px;
	margin:20px;
	font-family: "Dosis", sans-serif;
	cursor:pointer;
	transition:all 0.3s;
}

.load-more-btn:hover{
	background-color:#384147;
	border: 1px solid #32383f;
	color: #e8edef;
}

.column-bottom-section{
	margin-bottom:50px;
}

/*-----お問い合わせ-----*/


.contact{
	margin:0 auto;
	background-image: url(images/backgrounds/contact.jpg);
	background-size:cover;
	margin-bottom:66px;
	height:674px;
}


.contact-inner{
	margin:0 auto;
	background-color: rgba(0, 0, 0, 0.6);
	height:100%;
}

.contact h3, .contact h4, .contact p, .contact a{
	color:white;
}

.contact h3{
	text-align: center;
}

.contact h4{
	font-size: 22px;
	margin-bottom: 20px;
}

.section{
	display: inline-block;
	vertical-align: top;
	margin-top:1px;
}

.message-section{
	width:58%;
	margin-right:-0.5px;
}

.about-us-section{
	width:40%;
}

.input{
	width:85%;
	margin-bottom:20px;
	border: none;
	font-family: "Open Sans",sans-serif;
	font-size:16px;
	font-weight: 300;
	padding:15px;
	background-color:rgba(250, 250, 250, 0.08);
	color:white;
}

.input-form{
	margin-bottom: 5px;
}

.please-input{
	margin-bottom:0px;
	margin-top:0px;
	display: none;
}

.message-input{
	height:150px;
}

.submit-btn{
	text-decoration: none;
	background-color: #0DC0C0;
	padding:16px 36px;
	font-weight:600;
	font-family: "Dosis",sans-serif;
	font-size: 18px;
	color:white;
	border-style: none;
}

.about-us-message{
	line-height: 24px;
	margin-bottom: 24px;
}

.address-detail{
	padding-top:2px;
}

.address-detail p{
	margin:0 0 31px 0;
}

.fa{
	margin-right:15px;
	font-size: 18px;
}

/*-----Follow Us-----*/

.follow-us{
	text-align: center; 
	color:#555;
	height:186px;
}

.follow-us h1{
	font-size: 32px;
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
}

.sns-icon-section{
	margin-top:37px;
}

.sns-icon{
	text-decoration: none;
	color:#323A45;
}

.fa-facebook, .fa-twitter{
	display: inline-block;
	font-size: 36px;
	text-decoration: none;
}

.fa-facebook:hover{
	color:#40bfb0;
	transition:all 0.3s;
}

.fa-twitter:hover{
	color:#40bfb0;
	transition:all 0.3s;
}


/*-----Footer-----*/

.footer{
	text-align: center;
	background-color:#222;
	height:69px;
	padding-top:25px;
}

.footer p{
	color: #999;
}